.theme-dark {
    --wt-light: #fff;
    --wt-dark : #000;
    --wt-text : #fff;

    --wt-selected-light: #d1d5db;
    --wt-selected      : #9CA3AF;
    --wt-selected-dark : #111827;
    --wt-surface       : #4B5563;
    --wt-surface-dark  : #1F2937;
    --wt-hover         : #374151;
    --wt-hover-light   : #e5e7eb;

    --wt-accent-light: #60A5FA;
    --wt-accent      : #3B82F6;

    --wt-info      : #3B82F6;
    --wt-info-light: #93C5FD;
    --wt-success      : #10B981;
    --wt-success-light: #6EE7B7;
    --wt-warning      : #F59E0B;
    --wt-warning-light: #FCD34D;
    --wt-error        : #EF4444;
    --wt-error-light  : #FCA5A5;
}