.theme-dark {
    --wt-light: #fff;
    --wt-dark : #000;
    --wt-text : #fff;

    --wt-selected-light: #d1d5db;
    --wt-selected      : #9CA3AF;
    --wt-selected-dark : #111827;
    --wt-surface       : #4B5563;
    --wt-surface-dark  : #1F2937;
    --wt-hover         : #374151;
    --wt-hover-light   : #e5e7eb;

    --wt-accent-light: #60A5FA;
    --wt-accent      : #3B82F6;
}