.theme-dracula {
    --wt-light: #fff;
    --wt-dark : #000;
    --wt-text : #fff;

    --wt-selected-light: #c9a2ff;
    --wt-selected      : #c9a2ff;
    --wt-selected-dark : #bd93f9;
    --wt-surface       : #536086;
    --wt-surface-dark  : #282a36;
    --wt-hover         : #3a4657;
    --wt-hover-light   : #ddc5ff;

    --wt-accent-light: #ff79c6;
    --wt-accent      : #bd93f9;
}