.theme-light {
    --wt-light: #fff;
    --wt-dark : #000;
    --wt-text : #4B5563;

    --wt-selected-light: #d1d5db;
    --wt-selected      : #e1e1e1;
    --wt-selected-dark : #cacaca;
    --wt-surface       : #fafafa;
    --wt-surface-dark  : #f5f5f5;
    --wt-hover         : #e1e1e1;
    --wt-hover-light   : #e5e7eb;

    --wt-accent-light: #60A5FA;
    --wt-accent      : #3B82F6;
}