.theme-light {
    --wt-light: #fff;
    --wt-dark : #000;
    --wt-text : #4B5563;

    --wt-selected-light: #d1d5db;
    --wt-selected      : #e1e1e1;
    --wt-selected-dark : #cacaca;
    --wt-surface       : #fafafa;
    --wt-surface-dark  : #f5f5f5;
    --wt-hover         : #e1e1e1;
    --wt-hover-light   : #e5e7eb;

    --wt-accent-light: #60A5FA;
    --wt-accent      : #3B82F6;

    --wt-info         : #3B82F6;
    --wt-info-light   : #93C5FD;
    --wt-success      : #10B981;
    --wt-success-light: #6EE7B7;
    --wt-warning      : #F59E0B;
    --wt-warning-light: #FCD34D;
    --wt-error        : #EF4444;
    --wt-error-light  : #FCA5A5;
}